In [ ]:
Data Integrity

In [11]:
import pandas as pd

# Load the dataset
data = pd.read_csv('AB_NYC_2019.csv')

# Checking the columns to identify the correct ones
print("Columns in the dataset:", data.columns)

# Checking for data types and null values to assess data integrity
print("\nData Info (Types & Missing Values):")
print(data.info())

Columns in the dataset: Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

Data Info (Types & Missing Values):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB
None

In [ ]:
Missing Data Handling

In [12]:
# Task 2: Missing Data Handling - Checking for missing values and imputing where necessary
print("\nMissing Values in the Dataset:")
missing_values = data.isnull().sum()
print(missing_values)

# Impute missing 'reviews_per_month' with the mean value
if 'reviews_per_month' in data.columns:
    data['reviews_per_month'].fillna(data['reviews_per_month'].mean(), inplace=True)
    print("\nMissing values in 'reviews_per_month' have been imputed with the mean.")
else:
    print("'reviews_per_month' column not found in dataset")

# Impute missing 'name' and 'host_name' with a placeholder value
if 'name' in data.columns:
    data['name'].fillna('Unknown', inplace=True)
    print("\nMissing 'name' values have been imputed with 'Unknown'.")
else:
    print("'name' column not found in dataset")

if 'host_name' in data.columns:
    data['host_name'].fillna('Unknown', inplace=True)
    print("\nMissing 'host_name' values have been imputed with 'Unknown'.")
else:
    print("'host_name' column not found in dataset")

Missing Values in the Dataset:
id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Missing values in 'reviews_per_month' have been imputed with the mean.

Missing 'name' values have been imputed with 'Unknown'.

Missing 'host_name' values have been imputed with 'Unknown'.

In [ ]:
Duplicate Removal

In [13]:
# Task 3: Duplicate Removal - Identifying and removing duplicates
print("\nChecking for duplicate rows in the dataset:")
duplicates = data.duplicated().sum()
if duplicates > 0:
    print(f"There are {duplicates} duplicate rows. Removing them...")
    data.drop_duplicates(inplace=True)
else:
    print("No duplicate rows found.")

Checking for duplicate rows in the dataset:
No duplicate rows found.

In [ ]:
Standardization

In [14]:
# Task 4: Standardization - Ensuring consistent formatting and units across columns
# Standardizing column names (convert to lowercase and replace spaces with underscores)
data.columns = data.columns.str.lower().str.replace(' ', '_')
print("\nColumn names have been standardized.")

# Standardize 'price' to represent in dollars (if needed, ensure no negative values)
if 'price' in data.columns:
    data['price'] = data['price'].apply(lambda x: max(x, 0))  # Making sure no negative values
    print("\n'Price' values have been standardized to positive values.")
else:
    print("'price' column not found in dataset")

Column names have been standardized.

'Price' values have been standardized to positive values.

In [ ]:
Outlier Detection

In [15]:
# Task 5: Outlier Detection - Identifying and handling outliers
# Example: Detecting outliers in 'price' and 'reviews_per_month' using the IQR method
def detect_outliers(df, column):
    # Calculate the Interquartile Range (IQR)
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] < lower_bound) | (df[column] > upper_bound)]

# Detect outliers in 'price'
if 'price' in data.columns:
    price_outliers = detect_outliers(data, 'price')
    print(f"\nOutliers detected in 'price':")
    print(price_outliers)
else:
    print("'price' column not found in dataset")

# Detect outliers in 'reviews_per_month'
if 'reviews_per_month' in data.columns:
    reviews_outliers = detect_outliers(data, 'reviews_per_month')
    print(f"\nOutliers detected in 'reviews_per_month':")
    print(reviews_outliers)
else:
    print("'reviews_per_month' column not found in dataset")

# You can choose to remove or handle outliers here as necessary
# Example: Remove outliers in price
data = data[~data['price'].isin(price_outliers['price'])]

# Save the cleaned data (Optional)
# data.to_csv('cleaned_AB_NYC_2019.csv', index=False)

Outliers detected in 'price':
             id                                               name    host_id  \
61        15396                 Sunny & Spacious Chelsea Apartment      60278
85        19601                perfect for a family or small group      74303
103       23686  2000 SF 3br 2bath West Village private  townhouse      93790
114       26933  2 BR / 2 Bath Duplex Apt with patio! East Village      72062
121       27659                   3 Story Town House in Park Slope     119588
...         ...                                                ...        ...
48758  36420289    Rustic Garden House Apt, 2 stops from Manhattan   73211393
48833  36450896   Brand New 3-Bed Apt in the Best Location of FiDi   29741813
48839  36452721  Massage Spa. Stay overnight. Authors Artist dr...  274079964
48842  36453160  LUXURY MANHATTAN PENTHOUSE+HUDSON RIVER+EMPIRE...  224171371
48856  36457700  Large 3 bed, 2 bath , garden , bbq , all you need   66993395

                     host_name neighbourhood_group       neighbourhood  \
61                       Petra           Manhattan             Chelsea
85                      Maggie            Brooklyn    Brooklyn Heights
103                        Ann           Manhattan        West Village
114                      Bruce           Manhattan        East Village
121                       Vero            Brooklyn         South Slope
...                        ...                 ...                 ...
48758                LaGabrell              Queens    Long Island City
48833                      Yue           Manhattan  Financial District
48839                  Richard            Brooklyn      Sheepshead Bay
48842  LuxuryApartmentsByAmber           Manhattan             Chelsea
48856                   Thomas            Brooklyn  Bedford-Stuyvesant

       latitude  longitude        room_type  price  minimum_nights  \
61     40.74623  -73.99530  Entire home/apt    375             180
85     40.69723  -73.99268  Entire home/apt    800               1
103    40.73096  -74.00319  Entire home/apt    500               4
114    40.72540  -73.98157  Entire home/apt    350               2
121    40.66499  -73.97925  Entire home/apt    400               2
...         ...        ...              ...    ...             ...
48758  40.75508  -73.93258  Entire home/apt    350               2
48833  40.70605  -74.01042  Entire home/apt    475               2
48839  40.59866  -73.95661     Private room    800               1
48842  40.75204  -74.00292  Entire home/apt    350               1
48856  40.68886  -73.92879  Entire home/apt    345               4

       number_of_reviews last_review  reviews_per_month  \
61                     5  2018-11-03           0.120000
85                    25  2016-08-04           0.240000
103                   46  2019-05-18           0.550000
114                    7  2017-08-09           0.060000
121                   16  2018-12-30           0.240000
...                  ...         ...                ...
48758                  0         NaN           1.373221
48833                  0         NaN           1.373221
48839                  0         NaN           1.373221
48842                  0         NaN           1.373221
48856                  0         NaN           1.373221

       calculated_host_listings_count  availability_365
61                                  1               180
85                                  1                 7
103                                 2               243
114                                 4               298
121                                 2               216
...                               ...               ...
48758                               1               364
48833                               1                64
48839                               1                23
48842                               1                 9
48856                               3               354

[2972 rows x 16 columns]

Outliers detected in 'reviews_per_month':
             id                                             name    host_id  \
3          3831                  Cozy Entire Floor of Brownstone       4869
18         7726  Hip Historic Brownstone Apartment with Backyard      20950
67        16580              Sunny, Modern room in East Village!      64442
113       26785                     Park Slope Green Guest House      42273
137       31994               Room with En Suite Bathroom & Deck     137814
...         ...                                              ...        ...
47848  35945256                    Penn House~~~~5 mins from JFK  269113892
47967  36004542           Cosy Bedroom in the Heart of Manhattan   30461045
48031  36041065      Large bedroom with private bathroom is suit  225118276
48228  36145317                  1910 Original Rockaway Bungalow   63389796
48252  36152878                   Cozy Apartment in Midtown West  271928929

              host_name neighbourhood_group       neighbourhood  latitude  \
3           LisaRoxanne            Brooklyn        Clinton Hill  40.68514
18     Adam And Charity            Brooklyn       Crown Heights  40.67592
67                 Reka           Manhattan        East Village  40.72649
113                Dani            Brooklyn         South Slope  40.66853
137            Waldemar            Brooklyn        Clinton Hill  40.68730
...                 ...                 ...                 ...       ...
47848              Penn              Queens             Jamaica  40.68248
47967            Dayana           Manhattan             Midtown  40.76384
48031     Alex And Mila            Brooklyn  Bedford-Stuyvesant  40.68380
48228             Diana              Queens      Rockaway Beach  40.58947
48252              Asil           Manhattan      Hell's Kitchen  40.75402

       longitude        room_type  price  minimum_nights  number_of_reviews  \
3      -73.95976  Entire home/apt     89               1                270
18     -73.94694  Entire home/apt     99               3                 53
67     -73.97904     Private room     80               1                338
113    -73.98912  Entire home/apt    120              30                467
137    -73.96340     Private room     76               2                426
...          ...              ...    ...             ...                ...
47848  -73.79417  Entire home/apt    128               1                  5
47967  -73.98248     Private room    125               1                  6
48031  -73.92854     Private room     75               1                  7
48228  -73.81435  Entire home/apt    150               1                  5
48252  -73.99318  Entire home/apt     75               1                  4

      last_review  reviews_per_month  calculated_host_listings_count  \
3      2019-07-05               4.64                               1
18     2019-06-22               4.44                               1
67     2019-07-01               4.72                               2
113    2018-12-30               4.22                               2
137    2019-06-24               3.89                               3
...           ...                ...                             ...
47848  2019-07-01               5.00                               1
47967  2019-07-01               6.00                               1
48031  2019-07-06               7.00                               1
48228  2019-07-07               5.00                               1
48252  2019-07-05               4.00                               1

       availability_365
3                   194
18                   21
67                   72
113                 192
137                 275
...                 ...
47848               176
47967               142
48031               326
48228                79
48252                98

[4103 rows x 16 columns]